.about {
  color: var(--main-text-color);
  width: 80%;
  font-size: 14px;
}

.about-span {
  color: var(--branding-color);
}

.about-image {
  width: 40%;
}

.about-h4 {
  color: var(--branding-color);
}

.about-div {
  background-color: rgb(235, 250, 254);
  font-size: 18px;
}

.about-span-2 {
  font-size: 36px;
  font-weight: 400;
}

.about-image-link-div {
  background-color: rgb(235, 250, 254);
}
.about-image-link {
  width: 20%;
}

@media (max-width: 1200px) {
  .about-image {
    width: 60%;
  }
  .about-div {
    font-size: 16px;
  }

  .about-span-2 {
    font-size: 26px;
  }
}
@media (max-width: 996px) {
  .about {
    width: 100%;
  }
  .about-image-link-text {
    font-size: 12px;
  }
}
