.card-body:hover {
  cursor: pointer;
}
.card-title {
  color: var(--branding-color);
}

.card-author {
  color: var(--main-text-color);
}

.buy-button {
  background: var(--main-text-color);
  border-radius: 0;
  color: white;
  text-decoration: none;
  transition: 0.5s;
}

.buy-button:hover {
  background: var(--branding-color);
  color: white;
}

.price-button {
  background: var(--branding-color);
  border-radius: 0;
  color: white;
  text-decoration: none;
  transition: 0.5s;
}

.price-button:hover {
  background: var(--main-text-color);
  color: white;
}

.img-hover {
  width: 100%;
}

.img-hover:hover {
  transform: scale(1.1);
  transition: 500ms;
  cursor: pointer;
}

.close-button {
  position: absolute;
  top: 1%;
  right: 1%;
  padding: 5px 15px;
  border: 1px solid grey;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .img-hover {
    width: 76%;
    margin: 0 12%;
    text-align: center;
  }
}
