.carousel-best-title {
  font-family: var(--heading-font-family);
  font-size: 52px;
  font-weight: 600;
  font-style: italic;
  color: var(--main-text-color);
}

.carousel-best-line {
  border-top: 7px solid rgb(191, 190, 191);
}
.carousel-best-container {
  position: relative;
  text-align: center;
}

.carousel-best-img {
  width: 220px;
  height: 320px;
  cursor: pointer;
}

.carousel-best-pris {
  position: absolute;
  bottom: -15px;
  right: 26px;
  padding: 26px 5px;
  background: var(--branding-color);
  color: white;
  border-radius: 70px;
  border: 5px solid white;
  font-size: 32px;
  font-weight: 700;
  box-shadow: 5px 5px 5px 5px white;
  cursor: pointer;
}

.carousel-best-pris-sup {
  font-size: 20px;
}

.carousel-best-author {
  color: var(--branding-color);
}

@media (max-width: 1400px) {
  .carousel-best-title {
    font-size: 44px;
  }
}
@media (max-width: 1200px) {
  .carousel-best-title {
    font-size: 32px;
  }

  .carousel-best-img {
    width: 150px;
    height: 220px;
  }
  .carousel-best-pris {
    right: 36px;
    padding: 18px 5px;
    font-size: 18px;
  }

  .carousel-best-pris-sup {
    font-size: 14px;
  }

  .carousel-best-author {
    font-size: 18px;
  }
}

@media (max-width: 996px) {
  .carousel-best-title {
    font-size: 36px;
  }

  .carousel-best-img {
    width: 150px;
    height: 220px;
  }
  .carousel-best-pris {
    right: 26px;
  }
}

@media (max-width: 768px) {
  .carousel-best-pris {
    bottom: -30px;
    right: 40px;
    padding: 18px 5px;
    font-size: 20px;
  }

  .carousel-best-pris-sup {
    font-size: 14px;
  }

  .carousel-best-author {
    font-size: 16px;
  }
}

@media (max-width: 576px) {
  .carousel-best-pris {
    bottom: -25px;
    right: 36px;
  }
}

@media (max-width: 464px) {
  .carousel-best-pris {
    bottom: -25px;
    right: 100px;
  }
}

.react-multiple-carousel__arrow--left {
  margin: 0 0 0 -30px;
}

.react-multiple-carousel__arrow--right {
  margin: 0 -30px 0;
}
