.image-best {
  width: 380px;
  height: 540px;
}
.card-title {
  color: var(--branding-color);
  font-size: 24px;
}

.card-author {
  color: var(--main-text-color);
}

.buy-button {
  background: var(--main-text-color);
  color: white;
  border-radius: 0 0 0 5px;
  text-decoration: none;
}
.price-button {
  background: var(--branding-color);
  color: white;
  border-radius: 0 0 5px 0;
  text-decoration: none;
}
