.toggle {
  position: fixed;
  top: 2%;
  right: 1%;
  z-index: 1;
}
.vertical-menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.vertical-menu li {
  border-bottom: 1px solid var(--main-text-color);
}

.vertical-menu li a,
.vertical-menu li p {
  display: block;
  padding: 12px 12px 12px 8%;
  text-decoration: none;
  color: var(--branding-color);
  font-weight: 500;
  font-size: large;
  transition: 0.5s;
}

.vertical-menu li a:hover,
.submenu li a:hover {
  background-color: var(--main-text-color);
  color: white;
}

.submenu {
  display: block;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.submenu li {
  border-bottom: none;
}

.submenu li a {
  display: block;
  padding: 10px 10px 10px 13%;
  text-decoration: none;
}
