:root {
  --branding-color: #44acd5;
  --main-text-color: #383838;
  --heading-font-family: "Georgia", Arial, serif;
  --main-font-family: Arial, sans-serif;
}

.App {
  margin-top: 30px;
  font-family: var(--heading-font-family);
}
